/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE     &kp Q        &kp W            &kp E            &kp R                &kp T        &kp Y           &kp U                 &kp I                 &kp O             &kp P                &kp BSPC
&kp DEL        &HMR LWIN A  &HMR LEFT_ALT S  &HMR LSHIFT D    &HMR LEFT_CONTROL F  &kp G        &kp H           &HMR RIGHT_CONTROL J  &HMR RSHFT K          &HMR RIGHT_ALT L  &HMR RWIN SEMICOLON  &kp RETURN
&kp BACKSLASH  &kp Z        &kp X            &kp C            &kp V                &kp B        &kp N           &kp M                 &kp COMMA             &kp DOT           &kp FSLH             &kp APOSTROPHE
                                             &HML PLUS EQUAL  &mo 2                &kp SPACE    &kp LEFT_SHIFT  &lt 1 TAB             &HMR LS(MINUS) MINUS
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp KP_MULTIPLY       &kp F1                   &kp F2                  &kp F3                &kp F4                      &kp F5        &kp F6             &kp F7                 &kp F8               &kp F9             &kp F10             &kp F11
&kp SLASH             &HMR LEFT_META NUMBER_1  &HMR LEFT_ALT NUMBER_2  &HMR LSHIFT NUMBER_3  &HMR LEFT_CONTROL NUMBER_4  &kp N5        &kp NUMBER_6       &HMR RIGHT_CONTROL N7  &HMR RIGHT_SHIFT N8  &HMR RIGHT_ALT N9  &HMR RIGHT_META N0  &kp F12
&kp NON_US_BACKSLASH  &kp N0                   &kp LEFT_BRACKET        &kp RIGHT_BRACKET     &mt HASH NUMBER_3           &kp PERIOD    &kp LA(LS(MINUS))  &kp LS(LC(TAB))        &kp PAGE_DOWN        &kp PG_UP          &kp LC(TAB)         &kp TILDE
                                                                       &kp TILDE             &kp SPACE                   &kp SPACE     &kp LEFT_SHIFT     &kp LG(LS(LEFT))       &kp LS(LG(RIGHT))
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp ESC  &kp F1         &kp F2        &kp F3      &kp F4            &kp F5       &kp F6          &kp HOME      &kp UP_ARROW  &kp END       &kp F10       &kp BACKSPACE
&trans   &kp LEFT_META  &kp LEFT_ALT  &kp LSHIFT  &kp LEFT_CONTROL  &trans       &kp PAGE_UP     &kp LEFT      &kp DOWN      &kp RIGHT     &kp C_NEXT    &kp ENTER
&trans   &trans         &trans        &trans      &trans            &trans       &kp PAGE_DOWN   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
                                      &trans      &trans            &kp SPACE    &kp LEFT_SHIFT  &trans        &bt BT_SEL 0
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
